In [13]:
import pandas as pd
from sqlalchemy import create_engine

df_cleaned = pd.read_csv("data/processed/superstore_cleaned.csv", parse_dates=["Order Date", "Ship Date"])

engine = create_engine("sqlite:///data/superstore.db", echo=True)

df_cleaned.to_sql("raw_sales", engine, if_exists="replace", index=False)

2025-05-19 19:05:45,601 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-19 19:05:45,608 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("raw_sales")
2025-05-19 19:05:45,609 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-19 19:05:45,617 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("raw_sales")
2025-05-19 19:05:45,618 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-19 19:05:45,620 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-05-19 19:05:45,622 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-19 19:05:45,627 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-05-19 19:05:45,629 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-19 19:05:45,632 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("raw_sales")
2025-05-19 19:05:45,634 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-19 19:05:45,637 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-05-19 19:05:45,639 INFO sqlalchemy.engine.Engine [raw sql] ('raw_sales',)
2025-05-19 19:05:45,643 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("raw_sales")
2025-05-19 19:05:45,643 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-19 19:05:45,648 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("raw_sales")
2025-05-19 19:05:45,648 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-19 19:05:45,650 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-05-19 19:05:45,650 INFO sqlalchemy.engine.Engine [raw sql] ('raw_sales',)
2025-05-19 19:05:45,650 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("raw_sales")
2025-05-19 19:05:45,650 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-19 19:05:45,650 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("raw_sales")
2025-05-19 19:05:45,657 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-19 19:05:45,658 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("raw_sales")
2025-05-19 19:05:45,658 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-19 19:05:45,661 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("raw_sales")
2025-05-19 19:05:45,661 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-19 19:05:45,662 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("raw_sales")
2025-05-19 19:05:45,664 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-19 19:05:45,667 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("raw_sales")
2025-05-19 19:05:45,669 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-19 19:05:45,669 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-05-19 19:05:45,669 INFO sqlalchemy.engine.Engine [raw sql] ('raw_sales',)
2025-05-19 19:05:45,676 INFO sqlalchemy.engine.Engine
DROP TABLE raw_sales
2025-05-19 19:05:45,677 INFO sqlalchemy.engine.Engine [no key 0.00087s] ()
2025-05-19 19:05:45,687 INFO sqlalchemy.engine.Engine
CREATE TABLE raw_sales (
	"Order ID" TEXT,
	"Order Date" DATETIME,
	"Ship Date" DATETIME,
	"Country" TEXT,
	"Region" TEXT,
	"Product ID" TEXT,
	"Category" TEXT,
	"Sub-Category" TEXT,
	"Product Name" TEXT,
	"Sales" FLOAT,
	"Quantity" BIGINT,
	"Profit" FLOAT
)


2025-05-19 19:05:45,689 INFO sqlalchemy.engine.Engine [no key 0.00102s] ()
2025-05-19 19:05:45,797 INFO sqlalchemy.engine.Engine INSERT INTO raw_sales ("Order ID", "Order Date", "Ship Date", "Country", "Region", "Product ID", "Category", "Sub-Category", "Product Name", "Sales", "Quantity", "Profit") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-05-19 19:05:45,798 INFO sqlalchemy.engine.Engine [generated in 0.07724s] [('CA-2016-152156', '2016-11-08 00:00:00.000000', '2016-11-11 00:00:00.000000', 'United States', 'South', 'FUR-BO-10001798', 'Furniture', 'Bookcases', 'Bush Somerset Collection Bookcase', 261.96, 2, 41.9136), ('CA-2016-152156', '2016-11-08 00:00:00.000000', '2016-11-11 00:00:00.000000', 'United States', 'South', 'FUR-CH-10000454', 'Furniture', 'Chairs', 'Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back', 731.94, 3, 219.582), ('CA-2016-138688', '2016-06-12 00:00:00.000000', '2016-06-16 00:00:00.000000', 'United States', 'West', 'OFF-LA-10000240', 'Office Supplies', 'Labels', 'Self-Adhesive Address Labels for Typewriters by Universal', 14.62, 2, 6.8714), ('US-2015-108966', '2015-10-11 00:00:00.000000', '2015-10-18 00:00:00.000000', 'United States', 'South', 'FUR-TA-10000577', 'Furniture', 'Tables', 'Bretford CR4500 Series Slim Rectangular Table', 957.5775, 5, -383.031), ('US-2015-108966', '2015-10-11 00:00:00.000000', '2015-10-18 00:00:00.000000', 'United States', 'South', 'OFF-ST-10000760', 'Office Supplies', 'Storage', "Eldon Fold 'N Roll Cart System", 22.368, 2, 2.5164), ('CA-2014-115812', '2014-06-09 00:00:00.000000', '2014-06-14 00:00:00.000000', 'United States', 'West', 'FUR-FU-10001487', 'Furniture', 'Furnishings', 'Eldon Expressions Wood and Plastic Desk Accessories, Cherry Wood', 48.86, 7, 14.1694), ('CA-2014-115812', '2014-06-09 00:00:00.000000', '2014-06-14 00:00:00.000000', 'United States', 'West', 'OFF-AR-10002833', 'Office Supplies', 'Art', 'Newell 322', 7.28, 4, 1.9656), ('CA-2014-115812', '2014-06-09 00:00:00.000000', '2014-06-14 00:00:00.000000', 'United States', 'West', 'TEC-PH-10002275', 'Technology', 'Phones', 'Mitel 5320 IP Phone VoIP phone', 907.152, 6, 90.7152)  ... displaying 10 of 9994 total bound parameter sets ...  ('CA-2017-121258', '2017-02-26 00:00:00.000000', '2017-03-03 00:00:00.000000', 'United States', 'West', 'OFF-PA-10004041', 'Office Supplies', 'Paper', 'It\'s Hot Message Books with Stickers, 2 3/4" x 5"', 29.6, 4, 13.32), ('CA-2017-119914', '2017-05-04 00:00:00.000000', '2017-05-09 00:00:00.000000', 'United States', 'West', 'OFF-AP-10002684', 'Office Supplies', 'Appliances', 'Acco 7-Outlet Masterpiece Power Center, Wihtout Fax/Phone Line Protection', 243.16, 2, 72.948)]
2025-05-19 19:05:45,829 INFO sqlalchemy.engine.Engine COMMIT

9994

In [47]:
from sqlalchemy import text

with engine.begin() as conn:
    conn.execute(text(
    
"""
CREATE TABLE IF NOT EXISTS dim_product AS
SELECT 
   DISTINCT DATE("Order Date") AS order_date,
   CAST(STRFTIME('%Y', "Order Date") AS INTEGER) AS year,
   CAST(STRFTIME('%m', "Order Date") AS INTEGER) AS month,

   CASE 
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 1 AND 3 THEN 'Q1'
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 4 AND 6 THEN 'Q2'
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 7 AND 8 THEN 'Q3'
       ELSE 'Q4'

  END                                             AS quarter

FROM raw_sales;

CREATE TABLE IF NOT EXISTS dim_product AS
    SELECT DISTINCT
      Category,
      "Sub-Category" AS sub_category

FROM raw_sales
   """         
                   )
                )

2025-05-19 19:52:14,420 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-19 19:52:14,421 INFO sqlalchemy.engine.Engine
CREATE TABLE IF NOT EXISTS dim_product AS
SELECT
   DISTINCT DATE("Order Date") AS order_date,
   CAST(STRFTIME('%Y', "Order Date") AS INTEGER) AS year,
   CAST(STRFTIME('%m', "Order Date") AS INTEGER) AS month,

   CASE
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 1 AND 3 THEN 'Q1'
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 4 AND 6 THEN 'Q2'
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 7 AND 8 THEN 'Q3'
       ELSE 'Q4'

  END                                             AS quarter

FROM raw_sales;

CREATE TABLE IF NOT EXISTS dim_product AS
    SELECT DISTINCT
      Category,
      "Sub-Category" AS sub_category

FROM raw_sales

2025-05-19 19:52:14,423 INFO sqlalchemy.engine.Engine [generated in 0.00090s] ()
2025-05-19 19:52:14,424 INFO sqlalchemy.engine.Engine ROLLBACK

ProgrammingError: (sqlite3.ProgrammingError) You can only execute one statement at a time.
[SQL:
CREATE TABLE IF NOT EXISTS dim_product AS
SELECT
   DISTINCT DATE("Order Date") AS order_date,
   CAST(STRFTIME('%Y', "Order Date") AS INTEGER) AS year,
   CAST(STRFTIME('%m', "Order Date") AS INTEGER) AS month,

   CASE
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 1 AND 3 THEN 'Q1'
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 4 AND 6 THEN 'Q2'
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 7 AND 8 THEN 'Q3'
       ELSE 'Q4'

  END                                             AS quarter

FROM raw_sales;

CREATE TABLE IF NOT EXISTS dim_product AS
    SELECT DISTINCT
      Category,
      "Sub-Category" AS sub_category

FROM raw_sales
   ]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [37]:
with engine.begin() as conn:

    conn.execute(text
        ("""
        CREATE TABLE IF NOT EXISTS facts_sales AS
        SELECT 
            ROW_NUMBER() OVER (ORDER by "ORDER ID") AS sale_id,
            DATE("Order Date")                      AS order_date,
            Category,
            "Sub-Category" AS sub_category,
            Region,
            Sales,
            Quantity,
            Profit,
            CAST((JULIANDAY("Ship Date") - JULIANDAY("Order Date")) AS INTEGER) AS shipping_time_days
    FROM raw_sales;


    
      """)
            )

2025-05-19 19:33:31,979 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-19 19:33:31,980 INFO sqlalchemy.engine.Engine
        CREATE TABLE IF NOT EXISTS facts_sales AS
        SELECT
            ROW_NUMBER() OVER (ORDER by "ORDER ID") AS sale_id,
            DATE("Order Date")                      AS order_date,
            Category,
            "Sub-Category" AS sub_category,
            Region,
            Sales,
            Quantity,
            Profit,
            CAST((JULIANDAY("Ship Date") - JULIANDAY("Order Date")) AS INTEGER) AS shipping_time_days
    FROM raw_sales;




2025-05-19 19:33:31,980 INFO sqlalchemy.engine.Engine [generated in 0.00050s] ()
2025-05-19 19:33:32,032 INFO sqlalchemy.engine.Engine COMMIT

In [43]:
pd.read_sql("SELECT Region, SUM(SALES) AS total_sales FROM facts_sales GROUP BY REGION", engine)

pd.read_sql("SELECT d.quater, COUNT(*) AS num_orders FROM facts_sales f JOIN dim_date d USING(order_date) GROUP BY d.quarter", engine)

pd.read_sql("""SELECT sub_category, SUM(Profit) AS total_profit
            FROM facts_sales
            GROUP BY sub_category
            ORDER BY total_profit DESC LIMIT 5""", engine)

2025-05-19 19:48:14,458 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-19 19:48:14,462 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT Region, SUM(SALES) AS total_sales FROM facts_sales GROUP BY REGION")
2025-05-19 19:48:14,462 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-19 19:48:14,462 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT Region, SUM(SALES) AS total_sales FROM facts_sales GROUP BY REGION")
2025-05-19 19:48:14,465 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-19 19:48:14,465 INFO sqlalchemy.engine.Engine SELECT Region, SUM(SALES) AS total_sales FROM facts_sales GROUP BY REGION
2025-05-19 19:48:14,467 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-19 19:48:14,471 INFO sqlalchemy.engine.Engine ROLLBACK
2025-05-19 19:48:14,472 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-19 19:48:14,473 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT d.quater, COUNT(*) AS num_orders FROM facts_sales f JOIN dim_date d USING(order_date) GROUP BY d.quarter")
2025-05-19 19:48:14,473 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-19 19:48:14,473 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT d.quater, COUNT(*) AS num_orders FROM facts_sales f JOIN dim_date d USING(order_date) GROUP BY d.quarter")
2025-05-19 19:48:14,473 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-19 19:48:14,475 INFO sqlalchemy.engine.Engine SELECT d.quater, COUNT(*) AS num_orders FROM facts_sales f JOIN dim_date d USING(order_date) GROUP BY d.quarter
2025-05-19 19:48:14,475 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-19 19:48:14,477 INFO sqlalchemy.engine.Engine ROLLBACK

OperationalError: (sqlite3.OperationalError) no such table: dim_date
[SQL: SELECT d.quater, COUNT(*) AS num_orders FROM facts_sales f JOIN dim_date d USING(order_date) GROUP BY d.quarter]
(Background on this error at: https://sqlalche.me/e/20/e3q8)