In [34]:
%cd C:\Users\Academic\Documents\Projects\sales-performance-dashboard

import pandas as pd
from sqlalchemy import create_engine

df_cleaned = pd.read_csv("data/processed/superstore_cleaned.csv", parse_dates=["Order Date", "Ship Date"])

engine = create_engine("sqlite:///data/superstore.db", echo=True)

df_cleaned.to_sql("raw_sales", engine, if_exists="replace", index=False)

#Importing libaries, dataset,

C:\Users\Academic\Documents\Projects\sales-performance-dashboard
2025-05-26 15:13:40,271 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-26 15:13:40,291 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("raw_sales")
2025-05-26 15:13:40,292 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-26 15:13:40,296 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("raw_sales")
2025-05-26 15:13:40,298 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-26 15:13:40,300 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-05-26 15:13:40,301 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-26 15:13:40,303 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-05-26 15:13:40,304 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-26 15:13:40,307 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("raw_sales")
2025-05-26 15:13:40,307 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-26 15:13:40,309 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-05-26 15:13:40,311 INFO sqlalchemy.engine.Engine [raw sql] ('raw_sales',)
2025-05-26 15:13:40,313 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("raw_sales")
2025-05-26 15:13:40,314 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-26 15:13:40,315 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("raw_sales")
2025-05-26 15:13:40,316 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-26 15:13:40,317 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-05-26 15:13:40,318 INFO sqlalchemy.engine.Engine [raw sql] ('raw_sales',)
2025-05-26 15:13:40,319 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("raw_sales")
2025-05-26 15:13:40,320 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-26 15:13:40,322 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("raw_sales")
2025-05-26 15:13:40,323 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-26 15:13:40,324 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("raw_sales")
2025-05-26 15:13:40,325 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-26 15:13:40,326 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("raw_sales")
2025-05-26 15:13:40,327 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-26 15:13:40,329 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("raw_sales")
2025-05-26 15:13:40,330 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-26 15:13:40,331 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("raw_sales")
2025-05-26 15:13:40,333 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-26 15:13:40,334 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-05-26 15:13:40,335 INFO sqlalchemy.engine.Engine [raw sql] ('raw_sales',)
2025-05-26 15:13:40,340 INFO sqlalchemy.engine.Engine
DROP TABLE raw_sales
2025-05-26 15:13:40,341 INFO sqlalchemy.engine.Engine [no key 0.00111s] ()
2025-05-26 15:13:40,359 INFO sqlalchemy.engine.Engine
CREATE TABLE raw_sales (
	"Order ID" TEXT,
	"Order Date" DATETIME,
	"Ship Date" DATETIME,
	"Country" TEXT,
	"Region" TEXT,
	"Product ID" TEXT,
	"Category" TEXT,
	"Sub-Category" TEXT,
	"Product Name" TEXT,
	"Sales" FLOAT,
	"Quantity" BIGINT,
	"Profit" FLOAT
)


2025-05-26 15:13:40,360 INFO sqlalchemy.engine.Engine [no key 0.00156s] ()
2025-05-26 15:13:40,615 INFO sqlalchemy.engine.Engine INSERT INTO raw_sales ("Order ID", "Order Date", "Ship Date", "Country", "Region", "Product ID", "Category", "Sub-Category", "Product Name", "Sales", "Quantity", "Profit") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-05-26 15:13:40,618 INFO sqlalchemy.engine.Engine [generated in 0.18918s] [('CA-2016-152156', '2016-11-08 00:00:00.000000', '2016-11-11 00:00:00.000000', 'United States', 'South', 'FUR-BO-10001798', 'Furniture', 'Bookcases', 'Bush Somerset Collection Bookcase', 261.96, 2, 41.9136), ('CA-2016-152156', '2016-11-08 00:00:00.000000', '2016-11-11 00:00:00.000000', 'United States', 'South', 'FUR-CH-10000454', 'Furniture', 'Chairs', 'Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back', 731.94, 3, 219.582), ('CA-2016-138688', '2016-06-12 00:00:00.000000', '2016-06-16 00:00:00.000000', 'United States', 'West', 'OFF-LA-10000240', 'Office Supplies', 'Labels', 'Self-Adhesive Address Labels for Typewriters by Universal', 14.62, 2, 6.8714), ('US-2015-108966', '2015-10-11 00:00:00.000000', '2015-10-18 00:00:00.000000', 'United States', 'South', 'FUR-TA-10000577', 'Furniture', 'Tables', 'Bretford CR4500 Series Slim Rectangular Table', 957.5775, 5, -383.031), ('US-2015-108966', '2015-10-11 00:00:00.000000', '2015-10-18 00:00:00.000000', 'United States', 'South', 'OFF-ST-10000760', 'Office Supplies', 'Storage', "Eldon Fold 'N Roll Cart System", 22.368, 2, 2.5164), ('CA-2014-115812', '2014-06-09 00:00:00.000000', '2014-06-14 00:00:00.000000', 'United States', 'West', 'FUR-FU-10001487', 'Furniture', 'Furnishings', 'Eldon Expressions Wood and Plastic Desk Accessories, Cherry Wood', 48.86, 7, 14.1694), ('CA-2014-115812', '2014-06-09 00:00:00.000000', '2014-06-14 00:00:00.000000', 'United States', 'West', 'OFF-AR-10002833', 'Office Supplies', 'Art', 'Newell 322', 7.28, 4, 1.9656), ('CA-2014-115812', '2014-06-09 00:00:00.000000', '2014-06-14 00:00:00.000000', 'United States', 'West', 'TEC-PH-10002275', 'Technology', 'Phones', 'Mitel 5320 IP Phone VoIP phone', 907.152, 6, 90.7152)  ... displaying 10 of 9994 total bound parameter sets ...  ('CA-2017-121258', '2017-02-26 00:00:00.000000', '2017-03-03 00:00:00.000000', 'United States', 'West', 'OFF-PA-10004041', 'Office Supplies', 'Paper', 'It\'s Hot Message Books with Stickers, 2 3/4" x 5"', 29.6, 4, 13.32), ('CA-2017-119914', '2017-05-04 00:00:00.000000', '2017-05-09 00:00:00.000000', 'United States', 'West', 'OFF-AP-10002684', 'Office Supplies', 'Appliances', 'Acco 7-Outlet Masterpiece Power Center, Wihtout Fax/Phone Line Protection', 243.16, 2, 72.948)]
2025-05-26 15:13:40,690 INFO sqlalchemy.engine.Engine COMMIT

9994

In [36]:
from sqlalchemy import text

with engine.begin() as conn:

    conn.execute(text(
    
"""
CREATE TABLE IF NOT EXISTS dim_date AS
SELECT 
   DISTINCT DATE("Order Date") AS order_date,
   CAST(STRFTIME('%Y', "Order Date") AS INTEGER) AS year,
   CAST(STRFTIME('%m', "Order Date") AS INTEGER) AS month,

   CASE 
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 1 AND 3 THEN 'Q1'
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 4 AND 6 THEN 'Q2'
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 7 AND 8 THEN 'Q3'
       ELSE 'Q4'

  END                                             AS quarter

FROM raw_sales """))

2025-05-26 15:18:31,877 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-26 15:18:31,878 INFO sqlalchemy.engine.Engine
CREATE TABLE IF NOT EXISTS dim_date AS
SELECT
   DISTINCT DATE("Order Date") AS order_date,
   CAST(STRFTIME('%Y', "Order Date") AS INTEGER) AS year,
   CAST(STRFTIME('%m', "Order Date") AS INTEGER) AS month,

   CASE
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 1 AND 3 THEN 'Q1'
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 4 AND 6 THEN 'Q2'
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 7 AND 8 THEN 'Q3'
       ELSE 'Q4'

  END                                             AS quarter

FROM raw_sales
2025-05-26 15:18:31,879 INFO sqlalchemy.engine.Engine [cached since 281.3s ago] ()
2025-05-26 15:18:31,880 INFO sqlalchemy.engine.Engine COMMIT
2025-05-26 15:18:31,880 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-26 15:18:31,882 INFO sqlalchemy.engine.Engine
CREATE TABLE IF NOT EXISTS dim_product AS
    SELECT DISTINCT
      Category,
      "Sub-Category" AS sub_category

FROM raw_sales

2025-05-26 15:18:31,882 INFO sqlalchemy.engine.Engine [cached since 281.3s ago] ()
2025-05-26 15:18:31,883 INFO sqlalchemy.engine.Engine COMMIT
2025-05-26 15:18:31,883 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-26 15:18:31,884 INFO sqlalchemy.engine.Engine
CREATE TABLE IF NOT EXISTS dim_region AS
    SELECT DISTINCT
      Region

FROM raw_sales

2025-05-26 15:18:31,884 INFO sqlalchemy.engine.Engine [cached since 281.3s ago] ()
2025-05-26 15:18:31,885 INFO sqlalchemy.engine.Engine COMMIT
2025-05-26 15:18:31,885 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-26 15:18:31,886 INFO sqlalchemy.engine.Engine
WITH
    category_profits AS (

    SELECT

        CATEGORY       AS category,
        SUM(Profit)    AS category_profit

    FROM raw_sales
    GROUP BY Category   ),


    top_categories AS (

     SELECT
        cp1.category,
        cp1.category_profit

     FROM category_profits cp1

     WHERE
       (
        SELECT COUNT(*)
        FROM category_profits cp2
        WHERE cp2.category_profit > cp1.category_profit) < 3
    ),


    product_profits AS (

     SELECT
        Category       AS category,
        "Product Name" AS product,
        SUM(Profit)    AS product_profit

     FROM raw_sales
     GROUP BY Category, "Product Name"
     )

    SELECT
     tc.category AS "Category",
     tc.category_profit AS "Category Profit",
     pp.product AS "Product Name",
     pp.product_profit AS "Product Profit"

    FROM top_categories tc

    JOIN product_profits pp
        ON pp.category = tc.category

    WHERE (
        SELECT COUNT(*)
        FROM product_profits pp2
        WHERE pp2.category = pp.category
          AND pp2.product_profit > pp.product_profit) < 5

    ORDER BY
        tc.category_profit DESC,
        pp.product_profit DESC;


2025-05-26 15:18:31,887 INFO sqlalchemy.engine.Engine [cached since 281.3s ago] ()
2025-05-26 15:18:32,122 INFO sqlalchemy.engine.Engine ROLLBACK

In [ ]:
with engine.begin() as conn:
    conn.execute(text(

"""
CREATE TABLE IF NOT EXISTS dim_product AS
    SELECT DISTINCT
      Category,
      "Sub-Category" AS sub_category

FROM raw_sales
   """         
                   )
                )

In [ ]:
with engine.begin() as conn:
    conn.execute(text(
"""
CREATE TABLE IF NOT EXISTS dim_region AS 
    SELECT DISTINCT
      Region
      
FROM raw_sales
  """         
                   )
                )

In [ ]:
category_data_sql = text("""

WITH 
    category_profits AS (

    SELECT
    
        CATEGORY       AS category,
        SUM(Profit)    AS category_profit
        
    FROM raw_sales
    GROUP BY Category   ),  

    
    top_categories AS (
    
     SELECT
        cp1.category,
        cp1.category_profit
   
     FROM category_profits cp1
     
     WHERE 
       (
        SELECT COUNT(*)
        FROM category_profits cp2
        WHERE cp2.category_profit > cp1.category_profit) < 3 
    ),
    
    
    product_profits AS (

     SELECT
        Category       AS category,
        "Product Name" AS product,
        SUM(Profit)    AS product_profit
        
     FROM raw_sales
     GROUP BY Category, "Product Name"
     )
    
    SELECT 
     tc.category AS "Category",
     tc.category_profit AS "Category Profit",
     pp.product AS "Product Name",
     pp.product_profit AS "Product Profit"

    FROM top_categories tc
    
    JOIN product_profits pp
        ON pp.category = tc.category
    
    WHERE (
        SELECT COUNT(*)
        FROM product_profits pp2
        WHERE pp2.category = pp.category
          AND pp2.product_profit > pp.product_profit) < 5
    
    ORDER BY
        tc.category_profit DESC,
        pp.product_profit DESC;

    """)

In [ ]:
category_data = pd.read_sql_query(category_data_sql, engine)

In [ ]:
category_data.to_csv("data/processed/category_data.csv", index=False)