In [4]:
%cd C:\Users\Academic\Documents\Projects\sales-performance-dashboard

import pandas as pd
from sqlalchemy import create_engine

df_cleaned = pd.read_csv("data/processed/superstore_cleaned.csv", parse_dates=["Order Date", "Ship Date"])

engine = create_engine("sqlite:///data/superstore.db", echo=True)

df_cleaned.to_sql("raw_sales", engine, if_exists="replace", index=False)

C:\Users\Academic\Documents\Projects\sales-performance-dashboard
2025-05-21 11:57:00,595 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 11:57:00,602 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("raw_sales")
2025-05-21 11:57:00,603 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 11:57:00,605 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("raw_sales")
2025-05-21 11:57:00,607 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 11:57:00,613 INFO sqlalchemy.engine.Engine
CREATE TABLE raw_sales (
	"Order ID" TEXT,
	"Order Date" DATETIME,
	"Ship Date" DATETIME,
	"Country" TEXT,
	"Region" TEXT,
	"Product ID" TEXT,
	"Category" TEXT,
	"Sub-Category" TEXT,
	"Product Name" TEXT,
	"Sales" FLOAT,
	"Quantity" BIGINT,
	"Profit" FLOAT
)


2025-05-21 11:57:00,614 INFO sqlalchemy.engine.Engine [no key 0.00134s] ()
2025-05-21 11:57:00,887 INFO sqlalchemy.engine.Engine INSERT INTO raw_sales ("Order ID", "Order Date", "Ship Date", "Country", "Region", "Product ID", "Category", "Sub-Category", "Product Name", "Sales", "Quantity", "Profit") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-05-21 11:57:00,889 INFO sqlalchemy.engine.Engine [generated in 0.21441s] [('CA-2016-152156', '2016-11-08 00:00:00.000000', '2016-11-11 00:00:00.000000', 'United States', 'South', 'FUR-BO-10001798', 'Furniture', 'Bookcases', 'Bush Somerset Collection Bookcase', 261.96, 2, 41.9136), ('CA-2016-152156', '2016-11-08 00:00:00.000000', '2016-11-11 00:00:00.000000', 'United States', 'South', 'FUR-CH-10000454', 'Furniture', 'Chairs', 'Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back', 731.94, 3, 219.582), ('CA-2016-138688', '2016-06-12 00:00:00.000000', '2016-06-16 00:00:00.000000', 'United States', 'West', 'OFF-LA-10000240', 'Office Supplies', 'Labels', 'Self-Adhesive Address Labels for Typewriters by Universal', 14.62, 2, 6.8714), ('US-2015-108966', '2015-10-11 00:00:00.000000', '2015-10-18 00:00:00.000000', 'United States', 'South', 'FUR-TA-10000577', 'Furniture', 'Tables', 'Bretford CR4500 Series Slim Rectangular Table', 957.5775, 5, -383.031), ('US-2015-108966', '2015-10-11 00:00:00.000000', '2015-10-18 00:00:00.000000', 'United States', 'South', 'OFF-ST-10000760', 'Office Supplies', 'Storage', "Eldon Fold 'N Roll Cart System", 22.368, 2, 2.5164), ('CA-2014-115812', '2014-06-09 00:00:00.000000', '2014-06-14 00:00:00.000000', 'United States', 'West', 'FUR-FU-10001487', 'Furniture', 'Furnishings', 'Eldon Expressions Wood and Plastic Desk Accessories, Cherry Wood', 48.86, 7, 14.1694), ('CA-2014-115812', '2014-06-09 00:00:00.000000', '2014-06-14 00:00:00.000000', 'United States', 'West', 'OFF-AR-10002833', 'Office Supplies', 'Art', 'Newell 322', 7.28, 4, 1.9656), ('CA-2014-115812', '2014-06-09 00:00:00.000000', '2014-06-14 00:00:00.000000', 'United States', 'West', 'TEC-PH-10002275', 'Technology', 'Phones', 'Mitel 5320 IP Phone VoIP phone', 907.152, 6, 90.7152)  ... displaying 10 of 9994 total bound parameter sets ...  ('CA-2017-121258', '2017-02-26 00:00:00.000000', '2017-03-03 00:00:00.000000', 'United States', 'West', 'OFF-PA-10004041', 'Office Supplies', 'Paper', 'It\'s Hot Message Books with Stickers, 2 3/4" x 5"', 29.6, 4, 13.32), ('CA-2017-119914', '2017-05-04 00:00:00.000000', '2017-05-09 00:00:00.000000', 'United States', 'West', 'OFF-AP-10002684', 'Office Supplies', 'Appliances', 'Acco 7-Outlet Masterpiece Power Center, Wihtout Fax/Phone Line Protection', 243.16, 2, 72.948)]
2025-05-21 11:57:00,930 INFO sqlalchemy.engine.Engine COMMIT

9994

In [9]:
from sqlalchemy import text

with engine.begin() as conn:
    conn.execute(text(
    
"""
CREATE TABLE IF NOT EXISTS dim_date AS
SELECT 
   DISTINCT DATE("Order Date") AS order_date,
   CAST(STRFTIME('%Y', "Order Date") AS INTEGER) AS year,
   CAST(STRFTIME('%m', "Order Date") AS INTEGER) AS month,

   CASE 
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 1 AND 3 THEN 'Q1'
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 4 AND 6 THEN 'Q2'
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 7 AND 8 THEN 'Q3'
       ELSE 'Q4'

  END                                             AS quarter

FROM raw_sales; """))

with engine.begin() as conn:
    conn.execute(text(
"""
CREATE TABLE IF NOT EXISTS dim_product AS
    SELECT DISTINCT
      Category,
      "Sub-Category" AS sub_category

FROM raw_sales
   """         
                   )
                )

with engine.begin() as conn:
    conn.execute(text(
"""
CREATE TABLE IF NOT EXISTS dim_region AS
    SELECT DISTINCT
      Region
      
FROM raw_sales
   """         
                   )
                )

2025-05-21 12:19:04,581 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 12:19:04,582 INFO sqlalchemy.engine.Engine
CREATE TABLE IF NOT EXISTS dim_date AS
SELECT
   DISTINCT DATE("Order Date") AS order_date,
   CAST(STRFTIME('%Y', "Order Date") AS INTEGER) AS year,
   CAST(STRFTIME('%m', "Order Date") AS INTEGER) AS month,

   CASE
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 1 AND 3 THEN 'Q1'
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 4 AND 6 THEN 'Q2'
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 7 AND 8 THEN 'Q3'
       ELSE 'Q4'

  END                                             AS quarter

FROM raw_sales;
2025-05-21 12:19:04,582 INFO sqlalchemy.engine.Engine [generated in 0.00050s] ()
2025-05-21 12:19:04,599 INFO sqlalchemy.engine.Engine COMMIT
2025-05-21 12:19:04,600 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 12:19:04,601 INFO sqlalchemy.engine.Engine
CREATE TABLE IF NOT EXISTS dim_product AS
    SELECT DISTINCT
      Category,
      "Sub-Category" AS sub_category

FROM raw_sales

2025-05-21 12:19:04,602 INFO sqlalchemy.engine.Engine [cached since 1212s ago] ()
2025-05-21 12:19:04,603 INFO sqlalchemy.engine.Engine COMMIT
2025-05-21 12:19:04,603 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 12:19:04,604 INFO sqlalchemy.engine.Engine
CREATE TABLE IF NOT EXISTS dim_region AS
    SELECT DISTINCT
      Region

FROM raw_sales

2025-05-21 12:19:04,604 INFO sqlalchemy.engine.Engine [generated in 0.00035s] ()
2025-05-21 12:19:04,609 INFO sqlalchemy.engine.Engine COMMIT

In [10]:


with engine.begin() as conn:

    conn.execute(text
       
    ("""
        CREATE TABLE IF NOT EXISTS facts_sales AS
        SELECT 
            ROW_NUMBER() OVER (ORDER by "ORDER ID") AS sale_id,
            DATE("Order Date")                      AS order_date,
            Category,
            "Sub-Category" AS sub_category,
            Region,
            Sales,
            Quantity,
            Profit,
            CAST((JULIANDAY("Ship Date") - JULIANDAY("Order Date")) AS INTEGER) AS shipping_time_days
    FROM raw_sales;


    
      """)
            )

2025-05-21 12:19:08,698 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 12:19:08,698 INFO sqlalchemy.engine.Engine
        CREATE TABLE IF NOT EXISTS facts_sales AS
        SELECT
            ROW_NUMBER() OVER (ORDER by "ORDER ID") AS sale_id,
            DATE("Order Date")                      AS order_date,
            Category,
            "Sub-Category" AS sub_category,
            Region,
            Sales,
            Quantity,
            Profit,
            CAST((JULIANDAY("Ship Date") - JULIANDAY("Order Date")) AS INTEGER) AS shipping_time_days
    FROM raw_sales;




2025-05-21 12:19:08,699 INFO sqlalchemy.engine.Engine [cached since 1202s ago] ()
2025-05-21 12:19:08,699 INFO sqlalchemy.engine.Engine COMMIT

In [21]:
with engine.begin() as conn:

    conn.execute(text(
"""

CREATE VIEW IF NOT EXISTS top3_products_per_subcategory AS
SELECT
    sub_category,
    product_name,
    total_sales
FROM (
    SELECT
        "Sub-Category" AS sub_category,
        "Product Name" AS product_name,
        SUM(Sales) AS total_sales,
        ROWNUMBER() OVER (
         PARTITION  BY "Sub-Category"
         ORDER BY SUM(SALES) DESC
        )   AS sales_rank
FROM raw_sales
GROUP BY "Sub-Category", "Product Name"
)
WHERE sales_rank <=3

"""    
))

    conn.execute(text(
    """ SELECT * FROM top3_products_per_subcategory;"""

        
    ))

2025-05-21 12:33:54,536 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 12:33:54,537 INFO sqlalchemy.engine.Engine

CREATE VIEW IF NOT EXISTS top3_products_per_subcategory AS
SELECT
    sub_category,
    product_name,
    total_sales
FROM (
    SELECT
        "Sub-Category" AS sub_category,
        "Product Name" AS product_name,
        SUM(Sales) AS total_sales,
        ROWNUMBER() OVER (
         PARTITION  BY "Sub-Category"
         ORDER BY SUM(SALES) DESC
        )   AS sales_rank
FROM raw_sales
GROUP BY "Sub-Category", "Product Name"
)
WHERE sales_rank <=3


2025-05-21 12:33:54,538 INFO sqlalchemy.engine.Engine [generated in 0.00060s] ()
2025-05-21 12:33:54,538 INFO sqlalchemy.engine.Engine  SELECT * FROM top3_products_per_subcategory;
2025-05-21 12:33:54,540 INFO sqlalchemy.engine.Engine [generated in 0.00074s] ()
2025-05-21 12:33:54,540 INFO sqlalchemy.engine.Engine ROLLBACK

OperationalError: (sqlite3.OperationalError) no such function: ROWNUMBER
[SQL:  SELECT * FROM top3_products_per_subcategory;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [17]:
pd.read_sql("SELECT Region, SUM(SALES) AS total_sales FROM facts_sales GROUP BY REGION", engine)

pd.read_sql("SELECT d.quarter, COUNT(*) AS num_orders FROM facts_sales f JOIN dim_date d USING(order_date) GROUP BY d.quarter", engine)

pd.read_sql("""SELECT sub_category, SUM(Profit) AS total_profit
            FROM facts_sales
            GROUP BY sub_category
            ORDER BY total_profit DESC LIMIT 5""", engine)

2025-05-21 12:31:01,967 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 12:31:01,967 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT Region, SUM(SALES) AS total_sales FROM facts_sales GROUP BY REGION")
2025-05-21 12:31:01,968 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 12:31:01,968 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT Region, SUM(SALES) AS total_sales FROM facts_sales GROUP BY REGION")
2025-05-21 12:31:01,969 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 12:31:01,970 INFO sqlalchemy.engine.Engine SELECT Region, SUM(SALES) AS total_sales FROM facts_sales GROUP BY REGION
2025-05-21 12:31:01,970 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 12:31:01,973 INFO sqlalchemy.engine.Engine ROLLBACK
2025-05-21 12:31:01,974 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 12:31:01,974 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT d.quarter, COUNT(*) AS num_orders FROM facts_sales f JOIN dim_date d USING(order_date) GROUP BY d.quarter")
2025-05-21 12:31:01,975 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 12:31:01,976 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT d.quarter, COUNT(*) AS num_orders FROM facts_sales f JOIN dim_date d USING(order_date) GROUP BY d.quarter")
2025-05-21 12:31:01,976 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 12:31:01,976 INFO sqlalchemy.engine.Engine SELECT d.quarter, COUNT(*) AS num_orders FROM facts_sales f JOIN dim_date d USING(order_date) GROUP BY d.quarter
2025-05-21 12:31:01,976 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 12:31:01,980 INFO sqlalchemy.engine.Engine ROLLBACK
2025-05-21 12:31:01,982 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 12:31:01,983 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT sub_category, SUM(Profit) AS total_profit
            FROM facts_sales
            GROUP BY sub_category
            ORDER BY total_profit DESC LIMIT 5")
2025-05-21 12:31:01,983 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 12:31:01,984 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT sub_category, SUM(Profit) AS total_profit
            FROM facts_sales
            GROUP BY sub_category
            ORDER BY total_profit DESC LIMIT 5")
2025-05-21 12:31:01,984 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 12:31:01,985 INFO sqlalchemy.engine.Engine SELECT sub_category, SUM(Profit) AS total_profit
            FROM facts_sales
            GROUP BY sub_category
            ORDER BY total_profit DESC LIMIT 5
2025-05-21 12:31:01,985 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 12:31:01,988 INFO sqlalchemy.engine.Engine ROLLBACK

  sub_category  total_profit
0      Copiers    55617.8249
1       Phones    44515.7306
2  Accessories    41936.6357
3        Paper    34053.5693
4      Binders    30221.7633