In [4]:
%cd C:\Users\Academic\Documents\Projects\sales-performance-dashboard

import pandas as pd
from sqlalchemy import create_engine

df_cleaned = pd.read_csv("data/processed/superstore_cleaned.csv", parse_dates=["Order Date", "Ship Date"])

engine = create_engine("sqlite:///data/superstore.db", echo=True)

df_cleaned.to_sql("raw_sales", engine, if_exists="replace", index=False)

C:\Users\Academic\Documents\Projects\sales-performance-dashboard
2025-05-21 11:57:00,595 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 11:57:00,602 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("raw_sales")
2025-05-21 11:57:00,603 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 11:57:00,605 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("raw_sales")
2025-05-21 11:57:00,607 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 11:57:00,613 INFO sqlalchemy.engine.Engine
CREATE TABLE raw_sales (
	"Order ID" TEXT,
	"Order Date" DATETIME,
	"Ship Date" DATETIME,
	"Country" TEXT,
	"Region" TEXT,
	"Product ID" TEXT,
	"Category" TEXT,
	"Sub-Category" TEXT,
	"Product Name" TEXT,
	"Sales" FLOAT,
	"Quantity" BIGINT,
	"Profit" FLOAT
)


2025-05-21 11:57:00,614 INFO sqlalchemy.engine.Engine [no key 0.00134s] ()
2025-05-21 11:57:00,887 INFO sqlalchemy.engine.Engine INSERT INTO raw_sales ("Order ID", "Order Date", "Ship Date", "Country", "Region", "Product ID", "Category", "Sub-Category", "Product Name", "Sales", "Quantity", "Profit") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-05-21 11:57:00,889 INFO sqlalchemy.engine.Engine [generated in 0.21441s] [('CA-2016-152156', '2016-11-08 00:00:00.000000', '2016-11-11 00:00:00.000000', 'United States', 'South', 'FUR-BO-10001798', 'Furniture', 'Bookcases', 'Bush Somerset Collection Bookcase', 261.96, 2, 41.9136), ('CA-2016-152156', '2016-11-08 00:00:00.000000', '2016-11-11 00:00:00.000000', 'United States', 'South', 'FUR-CH-10000454', 'Furniture', 'Chairs', 'Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back', 731.94, 3, 219.582), ('CA-2016-138688', '2016-06-12 00:00:00.000000', '2016-06-16 00:00:00.000000', 'United States', 'West', 'OFF-LA-10000240', 'Office Supplies', 'Labels', 'Self-Adhesive Address Labels for Typewriters by Universal', 14.62, 2, 6.8714), ('US-2015-108966', '2015-10-11 00:00:00.000000', '2015-10-18 00:00:00.000000', 'United States', 'South', 'FUR-TA-10000577', 'Furniture', 'Tables', 'Bretford CR4500 Series Slim Rectangular Table', 957.5775, 5, -383.031), ('US-2015-108966', '2015-10-11 00:00:00.000000', '2015-10-18 00:00:00.000000', 'United States', 'South', 'OFF-ST-10000760', 'Office Supplies', 'Storage', "Eldon Fold 'N Roll Cart System", 22.368, 2, 2.5164), ('CA-2014-115812', '2014-06-09 00:00:00.000000', '2014-06-14 00:00:00.000000', 'United States', 'West', 'FUR-FU-10001487', 'Furniture', 'Furnishings', 'Eldon Expressions Wood and Plastic Desk Accessories, Cherry Wood', 48.86, 7, 14.1694), ('CA-2014-115812', '2014-06-09 00:00:00.000000', '2014-06-14 00:00:00.000000', 'United States', 'West', 'OFF-AR-10002833', 'Office Supplies', 'Art', 'Newell 322', 7.28, 4, 1.9656), ('CA-2014-115812', '2014-06-09 00:00:00.000000', '2014-06-14 00:00:00.000000', 'United States', 'West', 'TEC-PH-10002275', 'Technology', 'Phones', 'Mitel 5320 IP Phone VoIP phone', 907.152, 6, 90.7152)  ... displaying 10 of 9994 total bound parameter sets ...  ('CA-2017-121258', '2017-02-26 00:00:00.000000', '2017-03-03 00:00:00.000000', 'United States', 'West', 'OFF-PA-10004041', 'Office Supplies', 'Paper', 'It\'s Hot Message Books with Stickers, 2 3/4" x 5"', 29.6, 4, 13.32), ('CA-2017-119914', '2017-05-04 00:00:00.000000', '2017-05-09 00:00:00.000000', 'United States', 'West', 'OFF-AP-10002684', 'Office Supplies', 'Appliances', 'Acco 7-Outlet Masterpiece Power Center, Wihtout Fax/Phone Line Protection', 243.16, 2, 72.948)]
2025-05-21 11:57:00,930 INFO sqlalchemy.engine.Engine COMMIT

9994

In [9]:
from sqlalchemy import text

with engine.begin() as conn:
    conn.execute(text(
    
"""
CREATE TABLE IF NOT EXISTS dim_date AS
SELECT 
   DISTINCT DATE("Order Date") AS order_date,
   CAST(STRFTIME('%Y', "Order Date") AS INTEGER) AS year,
   CAST(STRFTIME('%m', "Order Date") AS INTEGER) AS month,

   CASE 
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 1 AND 3 THEN 'Q1'
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 4 AND 6 THEN 'Q2'
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 7 AND 8 THEN 'Q3'
       ELSE 'Q4'

  END                                             AS quarter

FROM raw_sales; """))

with engine.begin() as conn:
    conn.execute(text(
"""
CREATE TABLE IF NOT EXISTS dim_product AS
    SELECT DISTINCT
      Category,
      "Sub-Category" AS sub_category

FROM raw_sales
   """         
                   )
                )

with engine.begin() as conn:
    conn.execute(text(
"""
CREATE TABLE IF NOT EXISTS dim_region AS
    SELECT DISTINCT
      Region
      
FROM raw_sales
   """         
                   )
                )

2025-05-21 12:19:04,581 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 12:19:04,582 INFO sqlalchemy.engine.Engine
CREATE TABLE IF NOT EXISTS dim_date AS
SELECT
   DISTINCT DATE("Order Date") AS order_date,
   CAST(STRFTIME('%Y', "Order Date") AS INTEGER) AS year,
   CAST(STRFTIME('%m', "Order Date") AS INTEGER) AS month,

   CASE
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 1 AND 3 THEN 'Q1'
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 4 AND 6 THEN 'Q2'
       WHEN CAST(STRFTIME('%m', "Order Date") AS INTEGER) BETWEEN 7 AND 8 THEN 'Q3'
       ELSE 'Q4'

  END                                             AS quarter

FROM raw_sales;
2025-05-21 12:19:04,582 INFO sqlalchemy.engine.Engine [generated in 0.00050s] ()
2025-05-21 12:19:04,599 INFO sqlalchemy.engine.Engine COMMIT
2025-05-21 12:19:04,600 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 12:19:04,601 INFO sqlalchemy.engine.Engine
CREATE TABLE IF NOT EXISTS dim_product AS
    SELECT DISTINCT
      Category,
      "Sub-Category" AS sub_category

FROM raw_sales

2025-05-21 12:19:04,602 INFO sqlalchemy.engine.Engine [cached since 1212s ago] ()
2025-05-21 12:19:04,603 INFO sqlalchemy.engine.Engine COMMIT
2025-05-21 12:19:04,603 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 12:19:04,604 INFO sqlalchemy.engine.Engine
CREATE TABLE IF NOT EXISTS dim_region AS
    SELECT DISTINCT
      Region

FROM raw_sales

2025-05-21 12:19:04,604 INFO sqlalchemy.engine.Engine [generated in 0.00035s] ()
2025-05-21 12:19:04,609 INFO sqlalchemy.engine.Engine COMMIT

In [10]:


with engine.begin() as conn:

    conn.execute(text
       
    ("""
        CREATE TABLE IF NOT EXISTS facts_sales AS
        SELECT 
            ROW_NUMBER() OVER (ORDER by "ORDER ID") AS sale_id,
            DATE("Order Date")                      AS order_date,
            Category,
            "Sub-Category" AS sub_category,
            Region,
            Sales,
            Quantity,
            Profit,
            CAST((JULIANDAY("Ship Date") - JULIANDAY("Order Date")) AS INTEGER) AS shipping_time_days
    FROM raw_sales;


    
      """)
            )

2025-05-21 12:19:08,698 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 12:19:08,698 INFO sqlalchemy.engine.Engine
        CREATE TABLE IF NOT EXISTS facts_sales AS
        SELECT
            ROW_NUMBER() OVER (ORDER by "ORDER ID") AS sale_id,
            DATE("Order Date")                      AS order_date,
            Category,
            "Sub-Category" AS sub_category,
            Region,
            Sales,
            Quantity,
            Profit,
            CAST((JULIANDAY("Ship Date") - JULIANDAY("Order Date")) AS INTEGER) AS shipping_time_days
    FROM raw_sales;




2025-05-21 12:19:08,699 INFO sqlalchemy.engine.Engine [cached since 1202s ago] ()
2025-05-21 12:19:08,699 INFO sqlalchemy.engine.Engine COMMIT

In [38]:
with engine.begin() as conn:

   top3_sql= conn.execute(text(
"""
    WITH product_totals AS (
        SELECT 
            "Sub-Category" AS sub_cat,
            "Product Name" AS product,
            SUM(SALES) AS total_sales
    FROM raw_sales
    
    GROUP BY sub_cat, product
    )
    SELECT
        pt1.sub_cat,
        pt1.product,
        pt1.total_sales
    FROM product_totals pt1
    WHERE (
        SELECT COUNT (*)
        FROM product_totals pt2
        WHERE pt2.sub_cat = pt1.sub_cat
             AND pt2.total_sales > pt1.total_sales
             ) < 3
        ORDER BY pt1.sub_cat, pt1.total_sales DESC
"""
))
for row in top3_sql:
    print (row)

2025-05-21 13:54:57,400 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 13:54:57,402 INFO sqlalchemy.engine.Engine
    WITH product_totals AS (
        SELECT
            "Sub-Category" AS sub_cat,
            "Product Name" AS product,
            SUM(SALES) AS total_sales
    FROM raw_sales

    GROUP BY sub_cat, product
    )
    SELECT
        pt1.sub_cat,
        pt1.product,
        pt1.total_sales
    FROM product_totals pt1
    WHERE (
        SELECT COUNT (*)
        FROM product_totals pt2
        WHERE pt2.sub_cat = pt1.sub_cat
             AND pt2.total_sales > pt1.total_sales
             ) < 3
        ORDER BY pt1.sub_cat, pt1.total_sales DESC

2025-05-21 13:54:57,402 INFO sqlalchemy.engine.Engine [cached since 923.4s ago] ()
2025-05-21 13:54:57,425 INFO sqlalchemy.engine.Engine COMMIT
('Accessories', 'Plantronics CS510 - Over-the-Head monaural Wireless Headset System', 10822.36)
('Accessories', 'Logitech\xa0P710e Mobile Speakerphone', 10196.604)
('Accessories', 'Plantronics Savi W720 Multi-Device Wireless Headset System', 9367.289999999999)
('Appliances', "Honeywell Enviracaire Portable HEPA Air Cleaner for 17' x 22' Room", 11304.44)
('Appliances', 'Hoover Upright Vacuum With Dirt Cup', 6832.908)
('Appliances', 'Sanyo Counter Height Refrigerator with Crisper, 3.6 Cubic Foot, Stainless Steel/Black', 5906.52)
('Art', 'Hunt PowerHouse Electric Pencil Sharpener, Blue', 1617.9479999999999)
('Art', 'Boston Heavy-Duty Trimline Electric Pencil Sharpeners', 1166.44)
('Art', 'Hunt BOSTON Model 1606 High-Volume Electric Pencil Sharpener, Beige', 1113.024)
('Binders', 'Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind', 27453.384000000002)
('Binders', 'GBC DocuBind TL300 Electric Binding System', 19823.479)
('Binders', 'GBC Ibimaster 500 Manual ProClick Binding System', 19024.5)
('Bookcases', 'Riverside Palais Royal Lawyers Bookcase, Royale Cherry Finish', 15610.9656)
('Bookcases', 'DMI Eclipse Executive Suite Bookcases', 11046.609)
('Bookcases', 'Atlantic Metals Mobile 3-Shelf Bookcases, Custom Colors', 7539.7122)
('Chairs', 'HON 5400 Series Task Chairs for Big and Tall', 21870.576)
('Chairs', 'Global Troy Executive Leather Low-Back Tilter', 12975.382)
('Chairs', 'SAFCO Arco Folding Chair', 11572.78)
('Copiers', 'Canon imageCLASS 2200 Advanced Copier', 61599.824)
('Copiers', 'Hewlett Packard LaserJet 3310 Copier', 18839.686)
('Copiers', 'Canon PC1060 Personal Laser Copier', 11619.834)
('Envelopes', 'Staple envelope', 1686.812)
('Envelopes', 'Cameo Buff Policy Envelopes', 1555.75)
('Envelopes', 'Ames Color-File Green Diamond Border X-ray Mailers', 1360.4759999999999)
('Fasteners', 'Staples', 755.47)
('Fasteners', 'Vinyl Coated Wire Paper Clips in Organizer Box, 800/Box', 296.184)
('Fasteners', 'Advantus Plastic Paper Clips', 225.0)
('Furnishings', 'Luxo Professional Fluorescent Magnifier Lamp with Clamp-Mount Base', 3861.056)
('Furnishings', 'Tenex Antistatic Computer Chair Mats', 3317.0119999999997)
('Furnishings', "Electrix Architect's Clamp-On Swing Arm Lamp, Black", 2863.8)
('Labels', 'Dot Matrix Printer Tape Reel Labels, White, 5000/Box', 3322.878)
('Labels', 'Avery 4027 File Folder Labels for Dot Matrix Printers, 5000 Labels per Box, White', 1233.412)
('Labels', 'Avery 485', 639.03)
('Machines', 'Cisco TelePresence System EX90 Videoconferencing Unit', 22638.48)
('Machines', 'HP Designjet T520 Inkjet Large Format Printer - 24" Color', 18374.895)
('Machines', 'Lexmark MX611dhe Monochrome Laser Printer', 16829.901)
('Paper', 'Xerox 1915', 2789.01)
('Paper', 'Easy-staple paper', 2504.192)
('Paper', 'Multicolor Computer Printout Paper', 1887.3)
('Phones', 'Samsung Galaxy Mega 6.3', 13943.668)
('Phones', 'Apple iPhone 5', 12996.6)
('Phones', 'Wilson Electronics DB Pro Signal Booster', 8878.4)
('Storage', 'Tennsco 6- and 18-Compartment Lockers', 10925.003999999999)
('Storage', 'Tennsco Double-Tier Lockers', 9630.856)
('Storage', 'Tennsco Single-Tier Lockers', 9158.296)
('Supplies', 'High Speed Automatic Electric Letter Opener', 17030.311999999998)
('Supplies', 'Martin Yale Chadless Opener Electric Letter Opener', 16656.2)
('Supplies', 'Compact Automatic Electric Letter Opener', 2982.75)
('Tables', 'Bretford Rectangular Conference Table Tops', 12995.2915)
('Tables', 'Chromcraft Bull-Nose Wood Oval Conference Tables & Bases', 9917.640000000001)
('Tables', 'Bush Advantage Collection Racetrack Conference Table', 9544.725)

In [39]:
pd.read_sql("SELECT Region, SUM(SALES) AS total_sales FROM facts_sales GROUP BY REGION", engine)

pd.read_sql("SELECT d.quarter, COUNT(*) AS num_orders FROM facts_sales f JOIN dim_date d USING(order_date) GROUP BY d.quarter", engine)

pd.read_sql("""SELECT sub_category, SUM(Profit) AS total_profit
            FROM facts_sales
            GROUP BY sub_category
            ORDER BY total_profit DESC LIMIT 5""", engine)

2025-05-21 13:55:00,522 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 13:55:00,523 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT Region, SUM(SALES) AS total_sales FROM facts_sales GROUP BY REGION")
2025-05-21 13:55:00,523 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 13:55:00,524 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT Region, SUM(SALES) AS total_sales FROM facts_sales GROUP BY REGION")
2025-05-21 13:55:00,525 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 13:55:00,525 INFO sqlalchemy.engine.Engine SELECT Region, SUM(SALES) AS total_sales FROM facts_sales GROUP BY REGION
2025-05-21 13:55:00,525 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 13:55:00,530 INFO sqlalchemy.engine.Engine ROLLBACK
2025-05-21 13:55:00,531 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 13:55:00,531 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT d.quarter, COUNT(*) AS num_orders FROM facts_sales f JOIN dim_date d USING(order_date) GROUP BY d.quarter")
2025-05-21 13:55:00,532 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 13:55:00,533 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT d.quarter, COUNT(*) AS num_orders FROM facts_sales f JOIN dim_date d USING(order_date) GROUP BY d.quarter")
2025-05-21 13:55:00,533 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 13:55:00,534 INFO sqlalchemy.engine.Engine SELECT d.quarter, COUNT(*) AS num_orders FROM facts_sales f JOIN dim_date d USING(order_date) GROUP BY d.quarter
2025-05-21 13:55:00,534 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 13:55:00,540 INFO sqlalchemy.engine.Engine ROLLBACK
2025-05-21 13:55:00,542 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-21 13:55:00,542 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT sub_category, SUM(Profit) AS total_profit
            FROM facts_sales
            GROUP BY sub_category
            ORDER BY total_profit DESC LIMIT 5")
2025-05-21 13:55:00,543 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 13:55:00,543 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT sub_category, SUM(Profit) AS total_profit
            FROM facts_sales
            GROUP BY sub_category
            ORDER BY total_profit DESC LIMIT 5")
2025-05-21 13:55:00,544 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 13:55:00,544 INFO sqlalchemy.engine.Engine SELECT sub_category, SUM(Profit) AS total_profit
            FROM facts_sales
            GROUP BY sub_category
            ORDER BY total_profit DESC LIMIT 5
2025-05-21 13:55:00,545 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-21 13:55:00,549 INFO sqlalchemy.engine.Engine ROLLBACK

  sub_category  total_profit
0      Copiers    55617.8249
1       Phones    44515.7306
2  Accessories    41936.6357
3        Paper    34053.5693
4      Binders    30221.7633